body{

background:#111;

color:white;

font-family:Arial;

padding:20px;

}

h1{

text-align:center;

}

.order{

background:#222;

padding:15px;

margin-bottom:15px;

border-radius:10px;

}

button{

padding:10px;

border:none;

margin:5px;

cursor:pointer;

border-radius:6px;

}

.confirm{

background:green;

color:white;

}

.delete{

background:red;

color:white;

}